<ion-view view-title="Gallery">
    <style>
map {
  position:absolute;
  width: 100%;
  height: 100%;
}

 div[ng-controller=LayerHeatmapCtrl] {
      position:relative;
    }
    div[ng-controller=LayerHeatmapCtrl] #panel{
      position: absolute;
      top: 5px;
      left: 50%;
      margin-left: -180px;
      z-index: 5;
      background-color: #fff;
      padding: 5px;
      border: 1px solid #999;
    }


.button-bar > .button{
  border: 1px solid #cfcfcf;
}

.button-bar > .button:last-child {
  border-radius: 0px 20px 20px 0px !important;
}
.button-bar > .button:first-child {
    border-radius: 20px 0px 0px 20px !important;
}
    </style>
    <ion-content ng-class="{expanded:isExpanded}" class="animate-fade-slide-in " scroll="false">
       <!--<div map-lazy-load="https://maps.google.com/maps/api/js">
  <ng-map center="41,-87" zoom="3"></ng-map>
</div>-->

 <div id="panel">
      <button ng-click="toggleHeatmap()">Toggle Heatmap</button>
      <button ng-click="changeGradient()">Change gradient</button>
      <button ng-click="changeRadius()">Change radius</button>
      <button ng-click="changeOpacity()">Change opacity</button>
    </div>

 <div class="button-bar padding">
      <a grouped-radio="'Family'" ng-model="data.demographic">Complaints</a>
      <a grouped-radio="'Male'" ng-model="data.demographic">Heatmap</a>
       <a grouped-radio="'Female'" ng-model="data.demographic">Both</a>
    </div>


<!--Heatmap-->
<!--<map zoom="10" center="{{currentCoords.lat}},{{currentCoords.lon}}" map-type-id="SATELLITE">-->
  <map zoom="10" center="{{currentCoords.lat}},{{currentCoords.lon}}" >
   <drawing-manager
     on-overlaycomplete="onMapOverlayCompleted()"
     position="ControlPosition.TOP_CENTER"
     drawingModes="POLYGON,CIRCLE"
     drawingControl="true"
     circleOptions="fillColor: '#FFFF00';fillOpacity: 1;strokeWeight: 5;clickable: false;zIndex: 1;editable: true;" >
   </drawing-manager>
    <heatmap-layer id="foo" data="taxiData"></heatmap-layer>
   

<!--Street Lights-->
    <marker id='{{agent.agcid}}'  ng-repeat = "agent in filtered = (streetLights | filter:searchText)" 
           		 		position="{{[agent.agc_ADDR_LATITUDE,agent.agc_ADDR_LONGITUDE]}}"
           		 		on-click="showDetail(event,agent)"
										icon="img/lightout.png"
										animation = "DROP"
           		 		clickable="true">
           		 
		           		 <info-window id="foo-iw" >
					        <div ng-non-bindable="">
					          <strong>{{agent1.nme}}</strong><br/>
					          {{agent1.adr1}}<br/>
                      <table style="width:100%">
                        <tr>
                          <td>Family Beds</td>
                          <td>5 &nbsp;<i class="ion ion-ios-people-outline"></i></td>
                        </tr>
                       <tr>
                         <td> Single M Beds</td>
                          <td>2 &nbsp;<i class="ion ion-male"></i></td>
                        </tr>
                        <tr>
                          <td>Single F Beds</td>
                          <td>6 &nbsp;<i class="ion ion-female"></i></td>
                        </tr>
                         <tr>
                          <td>Veterans  Beds</td>
                          <td>0 &nbsp; <i class="ion ion-ios-medkit-outline"></i></td>
                        </tr>
                      </table>
					          Available: November 17, 2016<br/>
					          {{getDistance(agent1) | number : 2}} miles away&nbsp;&nbsp;<a ng-click="launchNav(agent1)"><i style="color:#398EF7;" class="icon ion-ios-navigate"></i></a><br/>
					          <a href="mailto:{{agent1.email}}" style="text-decoration:blink;color:red;" ><i class="icon ion-ios-email"></i>&nbsp;Email</a>
										&nbsp;&nbsp;&nbsp;<a  style="text-decoration:blink;color:red;"  href="tel:{{agent1.phone1}}"><i class="icon ion-ios-telephone"></i>&nbsp;Call</a>
										&nbsp;&nbsp;&nbsp;<a style="text-decoration:blink;color:red;"  ng-click="openSite(agent1.weburl)"><i class="icon ion-mouse"></i>&nbsp;Web</a>
					        </div>
					      </info-window>
           		
           		 
           		 </marker> 	
                  <!--Street Lights-->

 </map>
<!--Heatmap-->

 


    </ion-content>
</ion-view>
